@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter: 0em;
@import 'bower_components/neat/app/assets/stylesheets/neat';

$light-gray: rgb(200,200,200);
$medium-gray: rgb(175,175,175);

* {
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: sans-serif;
	height: 100%;
	width: 100%;
}

.song-search {
	margin: auto;
	margin-top: 15%;
	margin-bottom: 1%;
	width: 30%;
}

.song-search-input {
	border: 2px solid $medium-gray;
	border-radius: 5px;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	font-size: 1.2em;
	padding: .6em;
	text-align: center;
	width: 100%;
}

.media-player-container {
	@include outer-container(980px);
	border: 1px solid $medium-gray;
}

.play-logo {
	@include span-columns(3);
	border-bottom: 1px solid $medium-gray;
	border-right: 1px solid $medium-gray;
	height: 120px;
/*	margin-right: 0;
*/	text-align: center;
}

.play-logo > .fa-play-circle-o {
	color: $light-gray;
	font-size: 5em;
	line-height: 120px;
	margin: auto;
}

.play-logo > .fa-play-circle-o:hover {
	cursor: pointer;
}

.playback-container {
	@include span-columns(9);
	@include omega();
	position: relative;
	border-bottom: 1px solid $medium-gray;
	height: 120px;
}

.artist-info {
	border-bottom: 1px solid $medium-gray;
	height: 60px;
}

.volume-controls {
	position: absolute;
	right: 7%;
	top: 15%;
}

.fa-repeat {
	float: left;
	margin-left: 7%;
	margin-top: 3%;
}

.artist-info-text {
	margin: auto;
	text-align: center;
	width: 30%;
}

.artist-info-text-artist,
.artist-info-text-song {
	font-size: .9em;
	line-height: 30px;
}

.artist-info-text-artist {
	font-weight: 100;
	text-transform: uppercase;
}

.artist-info-text-song {
	font-weight: bold;
}

.song-status {
	@include span-columns(12);
}

.song-status li {
	display: inline-block;
}

.song-status-time-current,
.song-status-time-left {
	@include span-columns(2);
	line-height: 60px;
	text-align: center;
}

.song-status-bar {
	border: 1px solid $light-gray;
	border-radius: 10px;
	@include span-columns(8);
	height: 5px;
	margin-top: 27px;
	position: relative;
}

.song-status-bar-slider {
	background-color: black;
	border: 1px solid $medium-gray;
	border-radius: 50%;
	height: 15px;
	left: 0;
	position: absolute;
	top: -6px;
	width: 15px;
}

.song-info-container {
	@include span-columns(12);
}

.song-info-container li {
	@include span-columns(3);
	display: inline-block;
	height: 60px;
	line-height: 60px;
	text-align: center;
}